@use '../../styles/variables' as v;

main {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #00afa8;
  gap: 30px;

  &.dark {
    background: #282c34;
  }

  h1 {
    font-size: 3.5rem;
    color: #fff;
  }

  button {
    padding: 10px;
  }
}
